<section class="pfe-edit">
  <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <!-- Nav-tabs -->
            <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-left">
              <li [ngbNavItem]="1">
                <a ngbNavLink class="nav-link d-flex align-items-center">
                  <i class="ft-pfe mr-1"></i>
                  <span class="d-none d-sm-block">Edit Project</span>
                </a>
                <ng-template ngbNavContent>
                  <!-- Account content starts -->
                  <div class="mt-2" id="account">
                    <!-- Media object starts -->
                    <!--div class="media">
                      <img src="assets/img/portrait/small/avatar-s-2.png" alt="user edit avatar"
                        class="users-avatar-shadow avatar mr-3 rounded-circle" height="64" width="64">
                      <div class="media-body">
                        <h4>Avatar</h4>
                        <div class="d-flex flex-sm-row flex-column justify-content-start px-0 mb-sm-2">
                          <button class="btn btn-sm btn-primary mb-1 mb-sm-0">Change</button>
                          <button class="btn btn-sm bg-light-secondary ml-sm-2">Reset</button>
                        </div>
                      </div>
                    </div-->
                    <!-- Media object ends -->

                    <!-- Account form starts -->
                    <form novalidate (ngSubmit)="onSubmit()">
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="pfe-edit-username">Project Title</label>
                              <input type="text" id="pfe-edit-username" class="form-control" placeholder="Project Title"
                                [(ngModel)]="pfe.projectTitle" name="projectTitle" required>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="controls">
                              <label for="pfe-edit-name">Project Description</label>
                              <textarea id="pfe-edit-Description" class="form-control" placeholder="Description"
                                [(ngModel)]="pfe.description" name="description" required></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="controls">
                              <label for="pfe-edit-name">Student ID</label>
                              <input type="number" id="pfe-edit-Student" class="form-control" placeholder="Student ID"
                                [(ngModel)]="pfe.studentId" name="studentId" required>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="controls">
                              <label for="pfe-edit-name">Trainer ID</label>
                              <input type="number" id="pfe-edit-Company" class="form-control" placeholder="Trainer ID"
                                [(ngModel)]="pfe.trainerId" name="trainerId">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="controls">
                              <label for="pfe-edit-name">Entreprise ID</label>
                              <input type="number" id="pfe-edit-Supervisor" class="form-control" placeholder="Supervisor ID"
                                [(ngModel)]="pfe.entrepriseId" name="entrepriseId">
                            </div>
                          </div>
                        </div>

                        <div class="col-12 col-md-6">
                          <div class="form-group">
                            <div class="controls">
                              <label for="pfe-edit-role">Status</label>
                              <select id="pfe-edit-Status" class="form-control" [(ngModel)]="pfe.status" name="status" required>
                                <option value="">Select Status</option>
                                <option value="EN_COURS">EN_COURS</option>
                                <option value="TERMINE">TERMINE</option>
                                <option value="VALIDE">VALIDE</option>
                                <option value="REFUSE">REFUSE</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="controls">
                              <label for="pfe-edit-status">Level</label>
                              <select id="pfe-edit-Level" class="form-control" [(ngModel)]="pfe.level" name="level" required>
                                <option value="">Select Level</option>
                                <option value="LICENCE">LICENCE</option>
                                <option value="MASTER">MASTER</option>
                                <option value="INGENIEUR">INGENIEUR</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="controls">
                              <label for="pfe-edit-status">Category</label>
                              <select id="pfe-edit-Category" class="form-control" [(ngModel)]="pfe.category" name="category" required>
                                <option value="">Select Category</option>
                                <option value="WEB_DEVELOPMENT">WEB_DEVELOPMENT</option>
                                <option value="DATA_SCIENCE">DATA_SCIENCE</option>
                                <option value="SECURITY">SECURITY</option>
                                <option value="AI">AI</option>
                                <option value="CLOUD">CLOUD</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                          <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">Save Changes</button>
                          <button type="reset" class="btn btn-secondary" (click)="onReset()">Cancel</button>
                        </div>
                      </div>
                    </form>
                    <!-- Account form ends -->
                  </div>
                  <!-- Account content ends -->
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink class="nav-link d-flex align-items-center">
                  <i class="ft-info mr-1"></i>
                  <span class="d-none d-sm-block">Add PFE</span>
                </a>
                <ng-template ngbNavContent>
                  <!-- Information content starts -->
                  <div class="mt-2" id="information">
                    <!-- Information form starts -->
                    <form novalidate (ngSubmit)="onSubmit()">
                      <div class="row">
                        <div class="col-12 col-md-6 mb-3 mb-md-0">
                          <h4 class="mb-3"><i class="ft-link mr-2"></i>PFE Details</h4>
                          <div class="form-group">
                            <label for="pfe-edit-twitter">Project Title</label>
                            <input type="text" id="pfe-edit-twitter" class="form-control"
                              [(ngModel)]="pfe.projectTitle" name="projectTitle" required>
                          </div>
                          <div class="form-group">
                            <label for="pfe-edit-facebook">Description</label>
                            <textarea id="pfe-edit-facebook" class="form-control"
                              [(ngModel)]="pfe.description" name="description" required></textarea>
                          </div>
                         <!-- For Start Date -->
<!-- Pour la Date de Début -->
<div class="form-group">
  <label for="pfe-edit-google">Start Date</label>
  <input type="date" id="pfe-edit-google" class="form-control"
    [value]="formatDateForInput(pfe.startDate)"
    (input)="pfe.startDate = parseDateFromInput($event.target.value)"
    name="startDate" required>
</div>

<!-- Pour la Date de Fin -->
<div class="form-group">
  <label for="pfe-edit-linkedin">End Date</label>
  <input type="date" id="pfe-edit-linkedin" class="form-control"
    [value]="formatDateForInput(pfe.endDate)"
    (input)="pfe.endDate = parseDateFromInput($event.target.value)"
    name="endDate" required>
</div>
                          <div class="form-group">
                            <label for="pfe-edit-instagram">Student ID</label>
                            <input type="number" id="pfe-edit-instagram" class="form-control"
                              [(ngModel)]="pfe.studentId" name="studentId" required>
                          </div>
                          <div class="form-group">
                            <label for="pfe-edit-instagram">Trainer ID</label>
                            <input type="number" id="pfe-edit-instagram" class="form-control"
                              [(ngModel)]="pfe.trainerId" name="trainerId">
                          </div>
                          <div class="form-group">
                            <label for="pfe-edit-instagram">Entreprise ID</label>
                            <input type="number" id="pfe-edit-instagram" class="form-control"
                              [(ngModel)]="pfe.entrepriseId" name="entrepriseId">
                          </div>
                        </div>

                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                          <h4 class="mb-3"><i class="ft-pfe mr-2"></i>PFE Settings</h4>
                          <!--div class="form-group">
                            <div class="controls position-relative">
                              <label for="pfe-edit-bday">Documents</label>
                              <input type="file" id="pfe-edit-bday" class="form-control" multiple
                                (change)="onFileChange($event)" name="documents">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="controls position-relative">
                              <label for="pfe-edit-bday">Jury Names</label>
                              <input type="text" id="pfe-edit-bday" class="form-control"
                                [(ngModel)]="pfe.juryNames" name="juryNames" required>
                            </div>
                          </div-->
                          <div class="form-group">
                            <div class="controls">
                              <label for="pfe-edit-country">Level</label>
                              <select id="pfe-edit-country" class="form-control" [(ngModel)]="pfe.level" name="level" required>
                                <option value="">Select Level</option>
                                <option value="LICENCE">LICENCE</option>
                                <option value="MASTER">MASTER</option>
                                <option value="INGENIEUR">INGENIEUR</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="controls">
                              <label for="pfe-edit-country">Status</label>
                              <select id="pfe-edit-country" class="form-control" [(ngModel)]="pfe.status" name="status" required>
                                <option value="">Select Status</option>
                                <option value="EN_COURS">EN_COURS</option>
                                <option value="TERMINE">TERMINE</option>
                                <option value="VALIDE">VALIDE</option>
                                <option value="REFUSE">REFUSE</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="controls">
                              <label for="pfe-edit-country">Category</label>
                              <select id="pfe-edit-country" class="form-control" [(ngModel)]="pfe.category" name="category" required>
                                <option value="">Select Category</option>
                                <option value="WEB_DEVELOPMENT">WEB_DEVELOPMENT</option>
                                <option value="DATA_SCIENCE">DATA_SCIENCE</option>
                                <option value="SECURITY">SECURITY</option>
                                <option value="AI">AI</option>
                                <option value="CLOUD">CLOUD</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-group">
                            <label for="pfe-edit-website">Meeting Link</label>
                            <input type="text" id="pfe-edit-website" class="form-control"
                              [(ngModel)]="pfe.meetingLink" name="meetingLink">
                          </div>
                          <!-- For Meeting Date -->
<!-- Pour la Date de Réunion -->
<div class="form-group">
  <label for="pfe-edit-website">Meeting Date</label>
  <input type="date" id="pfe-edit-website" class="form-control"
    [value]="formatDateForInput(pfe.meetingDate)"
    (input)="pfe.meetingDate = parseDateFromInput($event.target.value)"
    name="meetingDate">
</div>
                          <div class="form-group">
                            <label for="pfe-edit-website">Meeting Notes</label>
                            <textarea id="pfe-edit-website" class="form-control"
                              [(ngModel)]="pfe.meetingNotes" name="meetingNotes"></textarea>
                          </div>
                        </div>

                        <div class="col-12 d-flex justify-content-end flex-sm-row flex-column mt-3 mt-sm-0">
                          <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">Save</button>
                          <button type="reset" class="btn btn-secondary" (click)="onReset()">Cancel</button>
                        </div>
                      </div>
                    </form>
                    <!-- Information form ends -->
                  </div>
                  <!-- Information content ends -->
                </ng-template>
              </li>
            </ul>
            <div class="tab-content">
              <div [ngbNavOutlet]="nav"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>